<h1>Add new citizen</h1>

	<%= form_for(:citizens, url: 'create') do %>
	<p><label for = "name">Name</label>

	<%= text_field 'citizens', 'name' %></p>
	<p><label for = "phone_num1">Phone1</label>:
	<%= text_field 'citizens', ':phone_num1' %></p>
	<p><label for = "phone_num2">Phone2</label>:
	<%= text_field 'citizens', ':phone_num2' %></p>

	<p><label for = "email">Email</label>:
	<%= text_field 'citizens', ':email' %></p>

	<p><label for = "address">Address</label>:
	<%= text_field 'citizens', ':address' %></p>

	<p><label for = "nat_id">National ID</label>:
	<%= text_field 'citizens', ':nat_id' %></p>

	<%= submit_tag "Create" %>
	<% end -%>
	<%= link_to 'Back', {:action => 'list'} %>


