<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @citizen.name %>
</p>

<p>
  <strong>Phone num1:</strong>
  <%= @citizen.phone_num1 %>
</p>

<p>
  <strong>Phone num2:</strong>
  <%= @citizen.phone_num2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @citizen.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @citizen.address %>
</p>

<p>
  <strong>Nat:</strong>
  <%= @citizen.nat_id %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
